[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MCPModGeneral"]
	path = MCPModGeneral
	url = https://github.com/cran/MCPModGeneral
[submodule "networkscaleup"]
	path = networkscaleup
	url = https://github.com/ilaga/networkscaleup
